@import '../../styles/variables.scss' ;

.home-section {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: $main-background;
    padding: 150px 10% 50px;

    .home-section-title {
        width: 45%;
        color: white;
        font-size: 22px;
        font-family: $police;
        background-color: $main-background;
        padding: 15px 0 0;
        
        .presentation-div {
            display: flex;
            flex-direction: column;
            padding: 100px 10%;
            font-size: $police;
            gap: 40px;
            overflow-x: hidden;

            #home-text {
                font-size: 35px;
                color: $main-color;
                font-weight: 600;
                animation: slidein-text 2s ;
                animation-iteration-count: 1;
            }

            .presentation-div-items {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 38px;
                animation: slidein-text 2s ;
                animation-iteration-count: 1;

                .hi-there {
                    display: flex;
                    gap: 10px;

                    .hi-there-span {
                        animation: wave-animation 3s;
                        animation-iteration-count: 1;
                    }
                }

            }

            .text-apparition {
                overflow-x: hidden;
            }
        }
    }

    .home-section-image {
        background-color: $main-background;
        width: 45%;
        overflow-x: hidden;

        img {
            width: 480px;
            height: 380px;
            margin-top: 10px;
            animation: slidein-photo 2s;
            animation-iteration-count: 1;
        }
    }
}

@keyframes wave-animation {
    0% {
    transform: rotate(0deg);
    }
    10% {
    transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
    transform: rotate(-8deg);
    }
    30% {
    transform: rotate(14deg);
    }
    40% {
    transform: rotate(-4deg);
    }
    50% {
    transform: rotate(10deg);
    }
    60% {
    transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
    transform: rotate(0deg);
    }
}

@keyframes slidein-text {
    from {
    transform: translateX(-100%);
    }

    to {
    transform: translateX(0%);
    }
}

@keyframes slidein-photo {
    from {
    transform: translateX(+100%);
    }

    to {
    transform: translateX(0%);
    }
}




