@import '../../../styles/variables.scss' ;

.item-container {
    height: auto;
    width: 60%;
    border-radius: 15px;
    color: white;
    background-color: $main-background;
    padding : 0 60px;
    overflow: hidden;

    .item-title {
         display: flex;
         gap: 15px;
         justify-content: center;

         h1 {
            text-align: center;
            padding: 20px 0;
        }

        animation: appear 1.5s;
        animation-iteration-count: 1;
    }

    .body-items {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;

        ul {
            margin-left: 35px;
            margin-top: 5px;
            margin-bottom: 20px;

            li {
                margin: 2px 0;
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}

#first-container {
    animation: slide-in-left 1s;
    animation-iteration-count: 1;
}

#second-container {
    animation: from-bottom 1s;
    animation-iteration-count: 1;
}

#dashboard-icon {
    margin-top: 25px;
}

@keyframes appear {
    from {
        transform: translateY(-100%);
      }
    
      to {
        transform: translateY(0%);
      }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-150%);
      }
    
      to {
        transform: translateX(0%);
      }
}

@keyframes from-bottom{
    from {
        transform: translateY(+150%);
      }
    
      to {
        transform: translateY(0%);
      }
}


